@model List<TrainingExercises>

<h2>Szczegóły treningu</h2>

@if (Model != null && Model.Any())
{
    <h3>Ćwiczenia dla treningu o id: @ViewBag.TrainingId</h3>
    <table>
        <thead>
            <tr>
                <th>Nazwa ćwiczenia</th>
                <th>Ilość Serii</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var trainingExercise in Model)
            {
                <tr>
                    <td>@trainingExercise.Exercise.Name</td>
                    <td>@trainingExercise.SeriesCount<span> serii</span></td>
                    <td>
                        <a asp-action="Edit" asp-controller="TrainingExercises" asp-route-id="@trainingExercise.Id">Edytuj</a> |
                        <a asp-action="Delete" asp-controller="TrainingExercises" asp-route-trainingExerciseId="@trainingExercise.Id" class="delete-link" onclick="return confirm('Czy na pewno chcesz usunąć?')">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
}
else
{
    <p>Nie znaleziono ćwiczeń przypisanych do tego treningu.</p>
}

<a asp-action="Create" asp-controller="TrainingExercises" asp-route-trainingId="@ViewBag.TrainingId">Dodaj ćwiczenia</a>
