@model List<TrainingExercises>

<h2>Details</h2>

@if (Model != null && Model.Any())
{
    <h3>Ćwiczenia dla treningu o ID: @ViewBag.TrainingId</h3>
    <ul>
        @foreach (var trainingExercise in Model)
        {
            <li>
                <span><strong>@trainingExercise.Exercise.Name</strong> - @trainingExercise.SeriesCount serii</span> | <a asp-action="Edit" asp-controller="TrainingExercises" asp-route-id="@trainingExercise.Id">Edytuj</a> | <form asp-action="Delete" asp-controller="TrainingExercises" method="post" class="delete-form">
    <input type="hidden" name="trainingExerciseId" value="@trainingExercise.Id" />
    <button type="submit" class="btn btn-link text-danger">Usuń</button>
</form>|
            </li>
        }
    </ul>
}
else
{
    <p>Nie znaleziono ćwiczeń przypisanych do tego treningu.</p>
}

<a asp-action="Create" asp-controller="TrainingExercises" asp-route-trainingId="@ViewBag.TrainingId">Dodaj ćwiczenia</a>
