@model List<GymApp.Models.Training>
    <link rel="stylesheet" href="~/css/Training.css" />
<h2>Moje treningi</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa treningu:
            </th>
            <th>
                Data utworzenia:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                
                <td class="trainingOptions">
                    <a asp-action="Create" asp-controller="TrainingExercises" asp-route-trainingId="@item.Id">Konfiguruj trening</a>|
                    <a asp-action="Details" asp-route-id="@item.Id">Pokaż szczegóły treningu</a> |
                    <a>
                        @using (Html.BeginForm("Delete", "Training", new { id = item.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Usuń Trening</button>
                        }
                    </a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Utwórz nowy trening</a>
